@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-bg-one: #EFEFEF;
  --color-bg-two: #F7D9C4;
  --color-text-one: #232323;
  --color-text-two: #777777;

}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text-two);
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}


