/* Header */
.header {
  background-color: var(--color-bg-one);
  position: sticky;
  /* width: 100%; */
  z-index: 1;
  border-bottom: 1px solid rgb(219, 208, 208) ;
}

.header .container-header {
  margin-left: 20px;
  margin-right: 20px;
}

.header .inner-wrap {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header .inner-logo {
  display: flex;
  align-items: center;
}
.header .inner-logo img {
  width: 50px;
  margin-right: 13px;
  height: auto;
}
.header .inner-logo h2 {
  color: var(--color-text-one);
}

.header .inner-menu {
  height: 100%;
  width: 100%;
  
}
.header .inner-menu .menu {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.header .inner-menu .menu .item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 25px 15px;
  font-size: 20px;
  color: var(--color-text-one);
  font-weight: 500;
}
.header .inner-menu .menu .item:hover {
  background: white;
}

.header .inner-social {
  display: flex;
  justify-content: space-between;
}
.header .inner-social .inner-social-item {
  background-color: white;
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  padding: 10px 10px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header .inner-social .inner-social-item i {
  color: black;
  font-size: 23px;
}
/* End Header */

/* Section One */
.section-one {
  background-image: url("/project-mini-1/assets/images/background1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-one .blur-bg-section-one {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: none;
  background-color: black;
  opacity: 0.7;
 
}
.section-one .container {
  position: relative;
}
.section-one .inner-wrap {
  width: 50%;
  padding: 120px 0;
  
}

.section-one .inner-title {
  margin: 0;
  color: white;

}
.section-one h3.inner-title {
  margin-bottom: 16px;
}
.section-one h1.inner-title {
  font-size: 55px;
  margin-bottom: 32px;
}
.section-one .inner-desc {
  color: #bbbbae;
  font-size: 20px;
  margin-bottom: 32px;
  margin-top: 0;
}
.section-one .inner-button .button {
  border: 0;
  padding: 16px 41.6px;
  margin: 9.6px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}

.section-one .button:nth-child(1) {
  margin-left: 0;
  background-color: var(--color-bg-two);
  color: #1b2026;
}
.section-one .button:nth-child(1):hover {
  background: white;
  transition: all 0.6s ease-in-out;
}
.section-one .button:nth-child(2) {
  background: transparent;
  border: 1px solid #474747;
  color: white;
}
.section-one .button:nth-child(2):hover {
  background-color: var(--color-bg-two);
  color: #1b2026;
  transition: all 0.6s ease-in-out;
  border: 1px solid var(--color-bg-two);
}
/* End Section One */


/* Section Two */
.section-two {
  padding: 100px 0;
  background-color: var(--color-bg-one);
  position: relative;
}

.section-two .container {
  position: relative;
}
.section-two .inner-wrap {
  position: relative;
  display: flex;
  width: 100%;
}
.section-two .inner-image, .inner-features {
  width: 60%;
}

.section-two .inner-wrap .inner-image img {
  width: 85%;
  height: auto;
  border-radius: 10px;
}

.section-two .inner-wrap h1.inner-title {
  color: var(--color-text-one);
  font-size: 60px;
  margin-top: 10px;
}


.section-two .inner-features .inner-list {
  display: flex;
  justify-content: space-between;
  padding-right: 55px;
}

.section-two .inner-features .inner-list .inner-item {
  background: white;
  width: 30%;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-two .inner-features .inner-list .inner-item .inner-icon {
  width: 50%;
  height: 50px;
  text-align: center;
  margin: 10px;
}
.section-two .inner-features .inner-list .inner-item .inner-icon i {
  font-size: 40px;
}

.section-two .inner-features .inner-list .inner-item .inner-content {
  color: var(--color-text-one);
  font-weight: 700;
}

.section-two .inner-features .inner-desc {
  margin-top: 30px;
  font-size: 18px;
}

.section-two .inner-features .button {
  border: 0;
  padding: 20px 41.6px;
  margin: 9.6px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-bg-two);
  margin-left: 0;
}

.section-two .inner-features .button:hover {
  background-color: white;
  transition: all 0.6s ease-in-out;
}

/* End Section Two */

/* Section Three */
.section-three {
  background: var(--color-bg-one);
  padding: 100px;
}
.section-three .container {
  position: relative;
}
.section-three .inner-wrap {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: visible;
  position: inherit;
}

.section-three .inner-wrap .inner-content {
  width: 50%;
  padding: 60px;
}
.section-three .inner-wrap .inner-content h3 {
  margin: 0;
  margin-bottom: 20px;
}

.section-three .inner-wrap .inner-content h1 {
  margin: 0;
  font-size: 60px;
  color: var(--color-text-one)
}
.section-three .inner-wrap .inner-image {
  width: 50%;
  overflow: visible;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 30px;
  position: absolute;
  right: 20px;
  bottom: 0;
}
.section-three .inner-wrap .inner-image img {
  height: 440px;
  width: auto;
  border-radius: 10px;
}

/* End Section Three */

/* Section Four */
.section-four {
  background: white;
  padding: 80px;
}

.section-four .inner-title {
  color: var(--color-text-one);
  margin: 0;
  margin-bottom: 20px;
}

.section-four .inner-desc {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
}

.section-four .inner-list {
  display: flex;
  flex-wrap: wrap;
}
.section-four .inner-list .inner-item {
  width: 30%;
  font-size: 18px;
  /* margin-bottom: 30px; */
}

.section-four .inner-list .inner-item::before {
  content: "✓";
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: #efefef;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
/* End Section Four */

/* Section Five */
.section-five {
  background-color: var(--color-bg-one);
  padding: 80px;
}

.section-five .inner-title {
  color: var(--color-text-one);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-size: 60.8px;
}
.section-five .inner-list {
  display: flex;
  justify-content: space-between;
}

.section-five .inner-list .inner-item {
  background: white;
  width: 31%;
  border-radius: 10px;
  overflow: hidden;
}

.section-five .inner-list .inner-item img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.section-five .inner-list .inner-item .inner-content {
  padding: 32px 40px;
}

.section-five .inner-list .inner-item .inner-content h4 {
  margin: 0 0 10px 0;
}
.section-five .inner-list .inner-item .inner-content h1 {
  margin: 0;
  color: var(--color-text-one);
  font-size: 25.6px;
}
/* End Section Five */

/* Section Six */
.section-six {
  background: #1b2026;
  padding: 128px;
}

.section-six .container {
  background: white;
  padding: 64px;
  border-radius: 10px;
}
.section-six .inner-wrap {
  display: flex;
}

.section-six .inner-wrap .inner-content {
  width: 60%;
}
.section-six .inner-wrap .inner-content h4 {
  font-size: 17.4px;
  margin: 0;
  margin-bottom: 16px;
}
.section-six .inner-wrap .inner-content p {
  color: var(--color-text-one);
  font-size: 60.8px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

.section-six .inner-wrap .inner-list {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-six .inner-wrap .inner-list .inner-item {
  padding: 16px;
  border: 1px solid rgb(236, 230, 230);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-six .inner-wrap .inner-list .inner-item .inner-title {
  display: flex;
  align-items: center;
  font-size: 17.6px;
}
.section-six .inner-wrap .inner-list .inner-item:nth-child(1) .inner-title::before {
  content: "\f013";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 0 16px;
  font-size: 28px;
}
.section-six .inner-wrap .inner-list .inner-item:nth-child(2) .inner-title::before {
  content: "\f53f";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 0 16px;
  font-size: 28px;
}
.section-six .inner-wrap .inner-list .inner-item:nth-child(3) .inner-title::before {
  content: "\f466";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 0 16px;
  font-size: 28px;
}
.section-six .inner-wrap .inner-list .inner-item .inner-arrow {
  padding: 0 16px;
}
.section-six .inner-wrap .inner-list .inner-item .inner-arrow i {
  font-size: 19px;
}
/* End Section Six */